.button-title {
    padding-left: 10px;
    padding-right : 10px;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    cursor: default;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #1a45c2;
    color: #fff;
    border-color: #1a45c2;
}

#mlp-cards{
    position: absolute;
    display: inline;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.card-dataset {
    position: absolute;
    display: inline;
    margin-top: 6em;
    margin-left: -5em;
    padding-left: 0;
    padding-right: 0;
}

.card-optimizer {
    position: absolute;
    display: inline;
    margin-top: 6em;
    margin-left: 15em;
    padding-left: 0;
    padding-right: 0;
}

.card-hyperparameters {
    position: absolute;
    display: inline;
    margin-top: 6em;
    margin-left: 33em;
    padding-left: 0;
    padding-right: 0;
}

.mat-card-header {
    display: inline-flex;
    flex-direction: row;
}

.mat-card-actions {
    position: relative;
    display: inline;
    margin: 0;
}

.mat-card-content {
    position: relative;
    display: inline;
}

.mat-card {
    border:  solid 1px #1a45c2;
    padding-bottom: 0;
    display:inline-block;
}

.mat-button-toggle-group {
    width: 99%;
    height: 350px;
    padding: 0;
    border-radius: 0;
    display:inline-block;
    overflow-y: scroll !important;
}

.card-optimizer-toggle-group{
    height: 398px;
    width: 250px;
}

.mat-button-toggle {
    height: 100%;
    width: 100%;
    display:inline-block;
    border-top: 1px #1a45c2 solid !important;
}

.mat-tab {
    display:inline-block;
}

::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 0px !important;
    padding: 0 30px !important;
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    color:#1a45c2 !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), 
         local('MaterialIcons-Regular'), 
         url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), 
         local('MaterialIcons-Regular'), 
         url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
  }

.hyperparameters-div{
    position: relative;
    padding-bottom: 0;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    min-width : 390px;
    white-space: nowrap;
    align-items: baseline;
    margin-top: 1em;
    margin-bottom: 1em;
    right: 0px;
}

.hyperparameters-form-field{
    display: inline-flex;
    flex-direction: row;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    right: 0;
    margin-top: -2em;
}

.hyperparameters-scroll{
    overflow-y: scroll !important;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: 0em;
 }

