<button mat-raised-button class='button-title'>{{mlp_title}}</button>

<div id="mlp-cards">
    <mat-card class="card-dataset">
        <mat-card-header>
            <mat-card-title class="card-title-dataset">Common datasets</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card-actions class="card-actions-dataset" row>
                <mat-tab-group class="common-datasets-tab-group">
                    <mat-tab class="common-datasets-tab" label="Vision">
                        <mat-button-toggle-group class="card-dataset-toggle-group" vertical>
                            <div class="common-datasets-toggle-div" *ngFor="let dataset of datasetsList">
                                <mat-button-toggle *ngIf="dataset.category == 'Vision'" class="common-datasets-toggle">{{dataset.name}}</mat-button-toggle>
                            </div>
                        </mat-button-toggle-group>
                    </mat-tab>
                    <mat-tab class="common-datasets-tab" label="Text">
                        <mat-button-toggle-group class="card-dataset-toggle-group" vertical>
                            <div class="common-datasets-toggle-div" *ngFor="let dataset of datasetsList">
                                <mat-button-toggle *ngIf="dataset.category == 'Text'" class="common-datasets-toggle">{{dataset.name}}</mat-button-toggle>
                            </div>
                        </mat-button-toggle-group>
                    </mat-tab>
                    <mat-tab class="common-datasets-tab" label="Audio">
                        <mat-button-toggle-group class="card-dataset-toggle-group" vertical>
                            <div class="common-datasets-toggle-div" *ngFor="let dataset of datasetsList">
                                <mat-button-toggle *ngIf="dataset.category == 'Audio'" class="common-datasets-toggle">{{dataset.name}}</mat-button-toggle>
                            </div>
                        </mat-button-toggle-group>
                    </mat-tab>
                </mat-tab-group>
                
            </mat-card-actions>
        </mat-card-content>  
    </mat-card>

    <mat-card class="card-optimizer">
        <mat-card-header>
            <mat-card-title class="card-title-optimizer">Optimizer</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-card-actions class="card-actions-optimizers" row>
                <mat-button-toggle-group class="card-optimizer-toggle-group"  #optimizerGroup="matButtonToggleGroup" vertical>
                    <div class="common-optimizers-toggle-div" *ngFor="let optimizer of optimizersList">
                        <mat-button-toggle class="common-optimizer-toggle" value="{{optimizer.name}}">{{optimizer.name}}</mat-button-toggle>
                    </div>
                </mat-button-toggle-group>
            </mat-card-actions>
        </mat-card-content>  
    </mat-card>

    <mat-card class="card-hyperparameters">
        <mat-card-header>
            <mat-card-title class="card-title-hyperparameters">Hyperparameters</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-card-actions class="card-actions-hyperparameters" row>
                <div class="hyperparameters-scroll">
                    <div class="hyperparameters-div" row>
                        Number of hidden layers :
                        <mat-form-field class="hyperparameters-form-field" appearance="standard">
                            <input matInput type="number"[(ngModel)]="layersValue">
                            <button *ngIf="layersValue" matSuffix mat-icon-button aria-label="Clear" (click)="layersValue=10">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                        
                    <div class="hyperparameters-div" row>
                        Learning rate :
                        <mat-form-field class="hyperparameters-form-field" appearance="standard">
                            <input matInput type="number" step=any [(ngModel)]="lrValue">
                            <button *ngIf="lrValue" matSuffix mat-icon-button aria-label="Clear" (click)="lrValue=0.05">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="hyperparameters-div" row >
                        Number of epoch :
                        <mat-form-field class="hyperparameters-form-field" appearance="standard">
                            <input matInput type="number" [(ngModel)]="epochValue">
                            <button *ngIf="epochValue" matSuffix mat-icon-button aria-label="Clear" (click)="epochValue=1000">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="hyperparameters-div" row>
                        Batch size :
                        <mat-form-field class="hyperparameters-form-field" appearance="standard">
                            <input matInput type="number" [(ngModel)]="batchValue">
                            <button *ngIf="batchValue" matSuffix mat-icon-button aria-label="Clear" (click)="batchValue=100">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div *ngFor="let optimizer of optimizersList">
                        <div *ngIf="optimizerGroup.value == optimizer.name">
                            <div *ngFor="let parameter of optimizer.parameters">
                                <div *ngIf="parameter.length == 1" class="hyperparameters-div" row >
                                    <div *ngIf="parameter.type == 'boolean'" class="hyperparameters-div" row >
                                        {{parameter.name}} :
                                        <mat-form-field class="hyperparameters-form-field" appearance="standard">
                                            <mat-select [(ngModel)]="parameter.defaultValue">
                                              <mat-option [value]="true">True</mat-option>
                                              <mat-option [value]="false">False</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="parameter.type != 'boolean'" class="hyperparameters-div" row >
                                        {{parameter.name}} :
                                        <mat-form-field class="hyperparameters-form-field" appearance="standard">
                                            <input matInput type="parameter.type" [(ngModel)]="parameter.defaultValue">
                                            <button *ngIf="parameter.defaultValue" matSuffix mat-icon-button aria-label="Clear" (click)="parameter.defaultValue">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="parameter.length > 1" class="hyperparameters-div" row>
                                    <div *ngFor="let defaultVal of parameter.defaultValue; let index=index" class="hyperparameters-div">
                                        {{parameter.name}} (Valeur {{index+1}}) :
                                        <mat-form-field  class="hyperparameters-form-field" appearance="standard">
                                            <mat-label>Valeur {{index+1}}</mat-label>
                                            <input matInput type="parameter.type" [(ngModel)]="parameter.defaultValue[index]">
                                            <button *ngIf="parameter.defaultValue[index]" matSuffix mat-icon-button aria-label="Clear" (click)="parameter.defaultValue[index]">
                                                <mat-icon>clear</mat-icon>
                                            </button>                               
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

</div>
