<div class="header-language">
    <mat-form-field appearance="fill" class="language-form-field">
        <mat-label class="language-label">Language</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="french">Français</mat-option>
          <mat-option value="english">English</mat-option>
        </mat-select>
    </mat-form-field>
</div>

