.button-title {
    width: 100%;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: default;
    border-radius: 0%;
    background-color: #1a45c2;
    color: #fff;
    border-color: #1a45c2;
}