.body-section {
    margin-bottom: 0;
}



.button-model-grid-list {
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top : 10em;
    margin-bottom: 0;
}

.button-model-tile {
    text-align: center;
    
}

.button-model {
    width: 98%;
    height: 98%;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1a45c2;
    color: #fff;
    border-color: #1a45c2;
}